# RED
/libspecs/
.project
red.xml

# PyCharm
.idea/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Robot Framework Test Output
**/log.html
**/output.xml
**/report.html
